::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #fafafa;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fafafa;
}


/**
loading bar*/

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 5px;
  width: 300px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 3px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #e0e0e0;
}



.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollArea::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin-bottom: 20%
}
.scrollArea::-webkit-scrollbar-thumb {
  background: #fafafa;
  border-radius: 5px;
}
.scrollArea::-webkit-scrollbar-thumb:hover {
  background: #fafafa;
}
